
.App {
  display: flex;
  font-family: Raleway; 
  height: 100vh;
  background-image: url('./images/content2.jpg'); 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.app__Content{
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
  }
.app__content__component{
  width: 100%;
  }
.app__aside{
  width: 30%;
  height: 100vh
}
.app__loading{
 margin: 0;
  position: absolute;
  top: 50%;
  left: 60%;
  
}
.app__loading_item{
  color: white !important;
}
@media (max-width: 760px){
   .App{
    display: flex;
    flex-direction: column;
   }
   .app__aside {
   	width: 100%;
  	margin: 0;
   }
   .app__Content {
   	margin: 0;
    width: 100%;
    height: 100vh;
   }
   }
